# Build
build/

# Kotlin / Java
*.class
*.log
*.kotlin_module

# Android Studio
.idea/
*.iml

# Gradle
.gradle/

# Local config
local.properties

# Keystore
*.jks
*.keystore

# System files
.DS_Store
Thumbs.db

# Android
captures/
.externalNativeBuild/
.cxx/

# Temp
*.tmp
*.bak
*.swp

# Dados senciveis, API
google-services.json